node_modules/
frontend/node_modules/
backend/node_modules/
frontend/dist/
android/
.git/
.env
backend/app.db
backend/app.db-shm
backend/app.db-wal
*.log
sdk.zip

# Firebase Secrets
backend/fcm-service-account.json
frontend/android/app/google-services.json
frontend/android/app/src/google-services.json
fcm-service-account.json
google-services.json
